@media (max-width: 960px) {
  .Section {
    padding: 0;
    .twosides {
      .left {
        width: 100%;
        .principles {
          padding: 0 4rem;
        }
      }
      .right {
        display: none;
      }
    }
  }
  .right {
    display: none;
  }
}

@media (min-width: 421px) and (max-width: 680px) {
  .Section {
    .twosides {
      .left {
        padding: 0 1.8rem;
        .principles {
          padding: 0;
        }
      }
    }
  }
  .right {
    display: none;
  }
}

@media (min-width: 0px) and (max-width: 420px) {
  * {
    font-size: 95%;
  }
  html {
    padding: 0 1rem;
  }
  header .hero nav {
    display: none;
  }
  .Section {
    .twosides {
      .left {
        padding: 0 1.8rem;
        .principles {
          padding: 0;
        }
      }
    }
  }
  .right {
    display: none;
  }
}
