// Tri colors
$white: #f0f0f0;
$dark-gray: #0c0c0c;
$gray: #252525;
$black: black;
$teal: #326064;
$gray-text: #7f7f7f;
$white-text: white;
$primary-font: Georgia, 'Times New Roman', Times, serif;
$secondary-font: Arial, Helvetica, sans-serif;


