@import "utilities";
@import "components";

html {
  background: $black;
}

.pop-up {
  height: 100vh;
  background-color: $black;
  display: flex;
  justify-content: center;
  align-items: center;
  .pop-up-wrapper {
    margin: 0 1rem;
    max-width: 460px;
    background-color: $gray;
    padding: 0.8rem;
    position: relative;
    .close {
      text-align: right;
      position: absolute;
      top: 5px;
      right: 5px;
      button {
        color: $white;
        background-color: inherit;
        font-size: 1.2rem;
        border: none;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        cursor: pointer;

        &:focus {
          outline: none;
          border: 1px solid $black;
        }
      }
    }

    h2 {
      font-size: 1.2rem;
      text-align: center;
      font-weight: 100;
      color: $teal;
    }

    p {
      font-size: 1.2rem;
      text-align: center;
      color: $white;
      margin: 2rem 0;
    }
  }
}

header {
  text-align: center;
  background-color: $dark-gray;
  color: $white-text;

  font-family: $primary-font;
  .hero {
    width: 100%;
    height: 100vh;
    max-height: 710px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    nav {
      display: flex;
      justify-content: center;

      ul {
        display: flex;
        li {
          margin: 0.5rem;
          font-size: 1.3rem;

          &:first-of-type {
            padding-right: 1em;
            border-right: 2px solid $teal;
          }

          &:hover {
            color: $teal;
          }
        }
      }
    }

    h1 {
      font-size: 600%;
      font-weight: 50;
    }
    h2 {
      font-size: 130%;
      color: $teal;
      font-weight: 300;
      margin: 1em auto;
    }
    p {
      margin: 0 auto;
      padding: 0 1rem;
      max-width: 490px;
      font-size: 125%;
    }
  }
}

.Typography {
  .right .top {
    width: 100%;
    height: 300px;
    background-color: $white;

    .sample-text {
      color: black;
      text-align: center;
      padding: 3.2%;
      font-family: $primary-font;
      h1 {
        font-size: 1.7rem;
      }
      textarea {
        background-color: $white;
        font-size: 1.5rem;
        text-align: left;
        padding: 5px;
        border: none;
        font-family: $primary-font;
        &:focus {
          outline: none;
        }
      }
      .static {
        display: flex;
        justify-content: space-between;

        .alphabet {
          text-align: left;
        }
        .styles {
          text-align: right;
        }
      }
    }
  }
  .right .bottom {
    width: 100%;
    height: 300px;
    background: $dark-gray;

    .allignment {
      ul {
        display: flex;
        justify-content: space-between;
        li {
          width: 25%;
          background-color: black;
          text-align: center;
          padding: 2px;

          &:hover {
            background-color: $gray;
          }
        }
      }
    }
    .fonts {
      margin: 10%;
      display: flex;
      justify-content: space-between;

      li {
        font-size: 1.2rem;
        padding: 3px;

        &:hover {
          color: $teal;
        }
      }
    }
  }
}
.Colour {
  .right .top {
    width: 100%;
    height: 340px;

    img {
      width: 100%;
      height: 100%;
    }
  }
  .right .bottom {
    width: 100%;
    height: 260px;
    background: $black;
    overflow: hidden;

    .showcase {
      position: relative;

      .color-pallete {
        background-color: $gray;
        height: 1.8rem;
        border-bottom: 5px solid black;
        display: flex;
        justify-content: space-between;
        align-items: center;

        p {
          width: 33.3%;
          text-align: center;
          color: black;
          font-family: $secondary-font;
        }
        .first-color {
          background-color: #304655;
        }
        .second-color {
          background-color: #b59283;
        }
        .third-color {
          background-color: #e5d4cd;
        }
      }

      ul {
        height: 40%;
        display: flex;

        li {
          width: 25%;
          background-color: black;
          overflow: hidden;

          img {
            opacity: 0.2;
            transform: scale(1.3, 1.3);

            &:hover {
              opacity: 1;
              transform: scale(1, 1);
              transition: 0.4s;
              transform: scale(1.15, 1.15);
            }
          }
        }
      }
      .page-nav {
        li {
          height: 1.8rem;
          width: 33.3%;
          text-align: center;
          color: black;
          font-family: $secondary-font;
          color: white;
          padding: 5px;
          &:nth-child(2) {
            padding: 0;
          }
          &:hover {
            background-color: $dark-gray;
          }

          input {
            text-align: center;
            padding: 5px;
            margin-left: -15px;
            &:focus {
              outline: none;
            }
          }
        }
      }
    }
  }
}
.Media {
  .right .top {
    width: 100%;
    height: 340px;
    background-color: $gray;

    .imagery-wrapper {
      h1 {
        text-align: center;
        font-family: $primary-font;
        font-size: 2rem;
        font-weight: 300;
        padding-top: 0.5rem;
        margin-bottom: 0.2rem;
        color: $gray-text;
      }

      h2 {
        font-family: $primary-font;
        margin-top: 0.5rem;
        color: $gray-text;
        font-size: 1.3rem;
        font-weight: 100;
        padding: 0 auto;
        text-align: center;
      }
      .check-list {
        max-width: 75%;
        margin: 0 auto;
        li {
          padding: 2px 18px;
          font-size: 1.15rem;
          text-align: left;
        }
      }

      .resources {
        display: flex;
        margin: 5px auto;
        justify-content: center;
        width: 75%;
        ul {
          width: 45%;
          margin-left: 5%;
          li {
            color: $gray-text;
            text-align: left;
            font-size: 1.05rem;

            &:hover {
              color: $teal;
            }
          }
        }
      }
    }
  }
  .right .bottom {
    width: 100%;
    height: 260px;
    background: lighten($color: $dark-gray, $amount: 30);
    padding: 4%;

    .wrapper {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      h1 {
        color: $black;
        font-family: $primary-font;
        font-weight: 100;
        text-align: center;
      }
      span {
        color: $gray-text;
        font-size: 0.9rem;
      }
    }
  }
}